{
  "extends": "standard",
  "rules": {
    "indent": ["error", 4],
    "no-new": "off",
    "import/extensions": ["error", "ignorePackages"]
  },
  "env": {
    "browser": true
  },
  "ignorePatterns": ["src", "public"]
}
