{% assign description = 'bar' %}

<article>
    <h2>{% upper title %}</h2>
    <p>{{ description }}</p>
</article>
    {{ product.title }}

{% for item in (1..3) %}
    {% render 'templates/twig/article.twig', title: 'Hello', description: 'There' %}
{% endfor %}
