<script type="application/json" data-template="src/templates/twig/sample.twig">
    {
        "title": "Full Twig Page",
        "articles": [
            {
                "title": "Article 1",
                "description": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam fuga nostrum amet iste doloremque saepe eos ea maxime quisquam dolorem officiis expedita consequuntur harum provident vel, eaque architecto accusamus assumenda!"
            },
            {
                "title": "Article 2",
                "description": "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse pariatur excepturi perferendis nemo repellendus sint aliquam? Qui cum corrupti, velit totam aliquam laudantium, minima amet neque dolores soluta cupiditate nulla!"
            }
        ]
    }
</script>
