<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/src/styles/main.css">
</head>
    <body>
        <h1>{{title}}</h1>
        {{> "templates/Components/Nav.hbs"}}
        <img src="/assets/logo.png" style="margin-top: 1.5rem">
    </body>
</html>
