doctype html
html
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    title=title
    link(rel="stylesheet" href="/src/styles/main.css")
body
    h1=title
    include ../Components/Nav.pug
    img(src="/src/assets/logo.svg" style="max-width: 400px")
