<article>
    <h2>{{ title }}</h2>
    <p>{{ description | upper }}</p>
</article>

{{ srcPath }}

{% for item in (1..3) %}
    {% render './article.twig', title: 'Hello', description: 'There' %}
{% endfor %}
